<template>
	<input type="radio" name="carousel">
	<dialog open>
		<aside>
            <label for="Closed">
				<span title="Close" class="close">X</span>
            </label>
			<h2>
				Modal title
			</h2>
			<div>

			</div>
		</aside>
		<nav>
			<p>
				<label>
					<img src="./img/left.png">
				</label>
				<label>
					<img src="./img/right.png">
				</label>
			</p>
		</nav>
	</dialog>
</template>
