<!DOCTYPE html>
<html lang="en" {{#if flippyUI.direction}} dir="{{flippyUI.direction}}" {{/if}}>
    {{> dochead}}
    <body id="home">
	    <header>
		    <figure>
			    <img width="300" alt="" src="./img/logo.png">
			    <figcaption></figcaption>
		    </figure>
	    </header>
	    <div>
		    <menu>
			    <section>
				    <details>
					    <summary>
						    About
					    </summary>
				    </details>
				    <nav>
					    <ul>
                            <li>
                                <a href="./jsdoc/index.html" target="_blank">Documentation</a>
                            </li>
						    <li>
							    <a href="./tests.html" target="_blank">Jasmine tests</a>
						    </li>
                            <li>
                                <a href="https://www.linkedin.com/in/webdevjimsutton" target="_blank">LinkedIn</a>
                            </li>
					    </ul>
				    </nav>
			    </section>
			    <section>
				    <details>
					    <summary>
                            FlippyUI
					    </summary>
				    </details>
				    <nav>
					    <ul>
						    <li>
							    <a href="https://github.com/Psykoral" target="_blank">Github</a>
						    </li>
						    <li>
							    <a href="https://github.com/Psykoral/grunt-starter-kit" target="_blank">Grunt starter kit</a>
						    </li>
						    <li>
							    <a href="https://github.com/Psykoral/modal-carousel" target="_blank">Modal carousel</a>
						    </li>
						    <li>
							    <a href="https://travis-ci.org/Psykoral/modal-carousel" target="_blank">Travis CI</a>
						    </li>
					    </ul>
				    </nav>
			    </section>
		    </menu>
		    <main>
			    {{> body}}
		    </main>
	    </div>
        {{{js scripts}}}
        <input type="radio" name="carousel" id="Closed" disabled="disabled">
    </body>
</html>
